<div  class="row" style="display:flex;justify-content:center;align-items:center;">
    <div bacardblur="" zoom-in="" class="animated fadeIn card with-scroll col-lg-3">
           <div class="card-header clearfix">
               <h3 class="card-title" translate="">Semaine</h3>
           </div>
           <div class="card-body">
                   <select class="list-act form-control "  [(ngModel)]="semaienSelectionnee"  >
                           <option *ngFor="let semaine of listSemaine"
                           [ngValue]="semaine.id">{{semaine.titre}}</option>
                        </select>
           </div>
       </div>
       <div bacardblur="" zoom-in="" class="animated fadeIn card with-scroll col-lg-2">
        <div class="card-header clearfix">
            <h3 class="card-title" translate="">Année</h3>
        </div>
        <div class="card-body">
                <select class="list-act form-control "  [(ngModel)]="anneSelectionne"  >
                        <option *ngFor="let annee of listAnnee"
                        [ngValue]="annee.id">{{annee.titre}}</option>
                     </select>
        </div>
    </div>
       </div>
<div class="widgets">
    <pointage *ngFor="let table of tables"
                [manager]="manager"
                [parent]="table.parent"
                [title]="table.title">
    </pointage>
  </div>
